<p>
  <b>User:</b>
  <%=h @portfolio.user_id %>
</p>

<p>
  <b>Cash:</b>
  <%=h @portfolio.cash %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
