<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>StockPlay</title>
		<link rel="stylesheet" href="stylesheets/welcome.css" 
			type="text/css" media="screen" charset="utf-8" /> 
	</head>
	<body>
		<div id="page"> 
			<div id="page_contents">
				<div id="welcome_header"> 
					<div id="logo">StockPlay</div>
					<div id="header_quote"></div>
					<div id="header_graph"></div>
				</div> 
				<div id="welcome_body"> 
					<div class="divider"></div>
					<div id="welcome_body_right">
						<div id="sign_in" class="border">
							<%= render :partial => 'sessions/new' %>
							<p id="sign_up">Don't have an account? Sign up!</p>
						</div>
						<div id="sell" class="border">
							<p>...the leading virtual stock trading game for the iPhone and iPod Touch</p>
						</div>
					</div>	
					<div id="welcome_body_left">
						<div id="screenshots" class="border">
							<img src="images/welcome/screenshots.png" height="350px" width="592px" alt="screenshots of iPhone app" /> 
						</div>
						<div id="introduction">
							<p>Can you beat the market? Try StockPlay, the iPhone application that 
								lets you test out your skills with no risks involved.  We give you $250,000 
								and the rest is up to you.  We wish you good luck!
							</p>					
						</div>
					</div>
					<div class="divider"></div>
				</div> 
				<div id="welcome_footer"> 
					<p id="copyright">Copyright &copy; 2009 Zergling.net, all rights reserved.</p>
				</div> 
			</div>	
		</div> 
	</body>
</html>
